// .example-card {
//   max-width: 400px;
// }
mat-grid-tile {
  background: lightblue;
  height: 40%;
}
mat-card {
  width: 90%;
  height: 90%;
}

mat-card-content{
  height: 70%;
}

// .mat-mdc-chip-set {
//   max-width: 200px;
// }

// .mat-card-actions{
//   height: 30%;
// }

// .mat-chip-set{
//   display: flex;
// }

